#button2 {
    padding: 0;
    margin: 0;
    text-align: right;
    }
   
ul#button2 {
    display: inline;
    
    }
   
ul#button2 li {
        display: inline;
        text-align: center;
            } 